    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Excel Optymalizacja</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Usługi</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            
            <div class="intro-text">
                <div class="intro-lead-in">Witaj na naszej stronie</div>
                <div class="intro-heading">Miło cię poznać!</div>
                <a href="#services" class="page-scroll btn btn-xl">Dowiedz się więcej</a>
                
                <% flash.each do |message_type, message| %>
                    <br></br>
                    <div id="error_explanation">
                      <div class="alert alert-<%= message_type %>"><%= message %></div>
                    </div>
                    
                <% end %>
                
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Usługi</h2>
                    <h3 class="section-subheading text-muted">W czym możemy Ci pomóc.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pakiet MS Office</h4>
                    <p class="text-muted">Aplikacje MS Office znamy jak własną kieszeń, powiedź z czym masz problem. Nie ważne czy chodzi o automatycze przekazywanie maila, sprawdzenie funkcji w Excel'u, czy konstrukcję animacji w PowerPoint'cie</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Makra w języku VBA</h4>
                    <p class="text-muted">Pomożemy ci wykorzystać w pełni wszystkie możliwości pakietu MS Office. Generowanie raportu za pomocą jednego kliknięcia, czy automatyczne wysyłanie maili do klientów lub kontrahentów. To żaden problem.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Poprawiamy, naprawiamy</h4>
                    <p class="text-muted">Jeżeli korzystasz z makra które przestało działać, albo chciałbyś je poprawić, podpowiemy jak to zrobić z istniejącym już kodem. Jeżeli temat jest pilny, jesteśmy zawsze gotowi.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Mamy doświadczenie w różnych sectorach gospodarki.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li> 
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">-->
                                 <%= image_tag("about/1.jpg", :class => "img-circle img-responsive", :alt => "") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/2.jpg" alt="">-->
                                 <%= image_tag("about/2.jpg", :class => "img-circle img-responsive", :alt => "") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/3.jpg" alt="">-->
                                 <%= image_tag("about/3.jpg", :class => "img-circle img-responsive", :alt => "") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <!--<img class="img-circle img-responsive" src="img/about/4.jpg" alt="">-->
                                 <%= image_tag("about/4.jpg", :class => "img-circle img-responsive", :alt => "") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Oto my</h2>
                    <h3 class="section-subheading text-muted">Kto za tym stoi.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="team-member">
                        <!--<img src="/team/1.jpg" class="img-responsive img-circle" alt="">-->
                         <%= image_tag("team/2.jpg", :class => "img-responsive img-circle", :alt => "2") %>
                        <h4>Łukasz</h4>
                        <p class="text-muted">The Head</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="team-member">
                        <!--<img src="team/2.jpg" class="img-responsive img-circle" alt="">-->
                         <%= image_tag("team/1.jpg", :class => "img-responsive img-circle", :alt => "1") %>
                        <h4>Piotr</h4>
                        <p class="text-muted">The Soul</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!--<div class="col-sm-4">
                    <div class="team-member">
                        <img src="team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>-->
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Doświadczenie które nabyliśmy w domu mediowym sprawiło, że problemy każdego klienta są nam bliskie. Możesz nam zaufać.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients" >
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <!--<img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">-->
                        <%= image_tag("logos/envato.jpg", :class => "img-responsive img-circle", :alt => "") %>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <!--<img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">-->
                        <%= image_tag("logos/designmodo.jpg", :class => "img-responsive img-circle", :alt => "") %>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <!--<img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">-->
                        <%= image_tag("logos/themeforest.jpg", :class => "img-responsive img-circle", :alt => "") %>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <!--<img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">-->
                        <%= image_tag("logos/creative-market.jpg", :class => "img-responsive img-circle", :alt => "") %>
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skontaktuj się z nami</h2>
                    <h3 class="section-subheading text-muted">Wpisz swoje imie, email i kilka słów o tym, czego potrzebujesz.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <%= form_for @contact_form, :url => submit_form_static_pages_path(@contact_form, :anchor => 'form') do |f| %>
                    <div class="row">
                      <%= render 'shared/error_messages' %>
                      
                      <div class="col-md-6">
                          
                        <div class="form-group">
                            
                          
                          <%= f.text_field :name, :class => 'form-control', :placeholder => "Twoje Imię *" %>
                          <p class="help-block text-danger"></p>
                        </div>
                        
                        <div class="form-group">
                          
                          <%= f.email_field :email, :class => 'form-control', :placeholder => "Twój Email *" %>
                          <p class="help-block text-danger"></p>
                        </div>
                    
                    
                        <div class="form-group">
                          
                          <%= f.text_field :phone, :class => 'form-control', :placeholder => "Twój Telefon" %>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      
                      <div class="col-md-6">
                        <div class="form-group">
                          
                          <%= f.text_area :message, :class => 'form-control', :placeholder => "Twoja Wiadomość *" %>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                        <div class="actions">
                          <%= f.submit "Send Message", :class => 'btn btn-xl'%>
                        </div>
                    </div>
                    </div>
                  <% end %>                 
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Excel Optymalizacja 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

   


